* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    background: #8a0303;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 
 .box {
    width:50%;
    height: 80%;
    box-shadow: 0 0 25px -3px rgba(0,0,0,0.4);
 }
 
 .box img{
    width:100%;
    height: 100%;
 }